
@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 100;
	font-style: normal;
	src: url('woff2/iosevka-slab-thin.woff2') format('woff2'), url('woff/iosevka-slab-thin.woff') format('woff'), url('ttf/iosevka-slab-thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 100;
	font-style: italic;
	src: url('woff2/iosevka-slab-thinitalic.woff2') format('woff2'), url('woff/iosevka-slab-thinitalic.woff') format('woff'), url('ttf/iosevka-slab-thinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 100;
	font-style: oblique;
	src: url('woff2/iosevka-slab-thinoblique.woff2') format('woff2'), url('woff/iosevka-slab-thinoblique.woff') format('woff'), url('ttf/iosevka-slab-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 200;
	font-style: normal;
	src: url('woff2/iosevka-slab-extralight.woff2') format('woff2'), url('woff/iosevka-slab-extralight.woff') format('woff'), url('ttf/iosevka-slab-extralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 200;
	font-style: italic;
	src: url('woff2/iosevka-slab-extralightitalic.woff2') format('woff2'), url('woff/iosevka-slab-extralightitalic.woff') format('woff'), url('ttf/iosevka-slab-extralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 200;
	font-style: oblique;
	src: url('woff2/iosevka-slab-extralightoblique.woff2') format('woff2'), url('woff/iosevka-slab-extralightoblique.woff') format('woff'), url('ttf/iosevka-slab-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 300;
	font-style: normal;
	src: url('woff2/iosevka-slab-light.woff2') format('woff2'), url('woff/iosevka-slab-light.woff') format('woff'), url('ttf/iosevka-slab-light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 300;
	font-style: italic;
	src: url('woff2/iosevka-slab-lightitalic.woff2') format('woff2'), url('woff/iosevka-slab-lightitalic.woff') format('woff'), url('ttf/iosevka-slab-lightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 300;
	font-style: oblique;
	src: url('woff2/iosevka-slab-lightoblique.woff2') format('woff2'), url('woff/iosevka-slab-lightoblique.woff') format('woff'), url('ttf/iosevka-slab-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 400;
	font-style: normal;
	src: url('woff2/iosevka-slab-regular.woff2') format('woff2'), url('woff/iosevka-slab-regular.woff') format('woff'), url('ttf/iosevka-slab-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 400;
	font-style: italic;
	src: url('woff2/iosevka-slab-italic.woff2') format('woff2'), url('woff/iosevka-slab-italic.woff') format('woff'), url('ttf/iosevka-slab-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 400;
	font-style: oblique;
	src: url('woff2/iosevka-slab-oblique.woff2') format('woff2'), url('woff/iosevka-slab-oblique.woff') format('woff'), url('ttf/iosevka-slab-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 500;
	font-style: normal;
	src: url('woff2/iosevka-slab-medium.woff2') format('woff2'), url('woff/iosevka-slab-medium.woff') format('woff'), url('ttf/iosevka-slab-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 500;
	font-style: italic;
	src: url('woff2/iosevka-slab-mediumitalic.woff2') format('woff2'), url('woff/iosevka-slab-mediumitalic.woff') format('woff'), url('ttf/iosevka-slab-mediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 500;
	font-style: oblique;
	src: url('woff2/iosevka-slab-mediumoblique.woff2') format('woff2'), url('woff/iosevka-slab-mediumoblique.woff') format('woff'), url('ttf/iosevka-slab-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 600;
	font-style: normal;
	src: url('woff2/iosevka-slab-semibold.woff2') format('woff2'), url('woff/iosevka-slab-semibold.woff') format('woff'), url('ttf/iosevka-slab-semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 600;
	font-style: italic;
	src: url('woff2/iosevka-slab-semibolditalic.woff2') format('woff2'), url('woff/iosevka-slab-semibolditalic.woff') format('woff'), url('ttf/iosevka-slab-semibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 600;
	font-style: oblique;
	src: url('woff2/iosevka-slab-semiboldoblique.woff2') format('woff2'), url('woff/iosevka-slab-semiboldoblique.woff') format('woff'), url('ttf/iosevka-slab-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 700;
	font-style: normal;
	src: url('woff2/iosevka-slab-bold.woff2') format('woff2'), url('woff/iosevka-slab-bold.woff') format('woff'), url('ttf/iosevka-slab-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 700;
	font-style: italic;
	src: url('woff2/iosevka-slab-bolditalic.woff2') format('woff2'), url('woff/iosevka-slab-bolditalic.woff') format('woff'), url('ttf/iosevka-slab-bolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 700;
	font-style: oblique;
	src: url('woff2/iosevka-slab-boldoblique.woff2') format('woff2'), url('woff/iosevka-slab-boldoblique.woff') format('woff'), url('ttf/iosevka-slab-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 800;
	font-style: normal;
	src: url('woff2/iosevka-slab-extrabold.woff2') format('woff2'), url('woff/iosevka-slab-extrabold.woff') format('woff'), url('ttf/iosevka-slab-extrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 800;
	font-style: italic;
	src: url('woff2/iosevka-slab-extrabolditalic.woff2') format('woff2'), url('woff/iosevka-slab-extrabolditalic.woff') format('woff'), url('ttf/iosevka-slab-extrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 800;
	font-style: oblique;
	src: url('woff2/iosevka-slab-extraboldoblique.woff2') format('woff2'), url('woff/iosevka-slab-extraboldoblique.woff') format('woff'), url('ttf/iosevka-slab-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 900;
	font-style: normal;
	src: url('woff2/iosevka-slab-heavy.woff2') format('woff2'), url('woff/iosevka-slab-heavy.woff') format('woff'), url('ttf/iosevka-slab-heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 900;
	font-style: italic;
	src: url('woff2/iosevka-slab-heavyitalic.woff2') format('woff2'), url('woff/iosevka-slab-heavyitalic.woff') format('woff'), url('ttf/iosevka-slab-heavyitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-weight: 900;
	font-style: oblique;
	src: url('woff2/iosevka-slab-heavyoblique.woff2') format('woff2'), url('woff/iosevka-slab-heavyoblique.woff') format('woff'), url('ttf/iosevka-slab-heavyoblique.ttf') format('truetype');
}
