root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[*.{js,jsx,ts,tsx}]
insert_final_newline = true
block_comment_start = /*
block_comment = *
block_comment_end = */

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

# The indent size used in the `package.json` file cannot be changed
# https://github.com/npm/npm/pull/3180#issuecomment-16336516
[{*.yml,*.yaml,package.json}]
indent_style = space
indent_size = 2
