.next
out
node_modules
publish-tool
.vscode
shared/fonts/imports/*/TTF/*
.build/
dist/
packages/font-glyphs/src/**/*.mjs
packages/font-otl/src/**/*.mjs
private-build-plans.toml
params/private-parameters.toml
