@import url(fonts.css);
html {
	font-size: 16px;
}

a {
	color: black;
	background-image: linear-gradient(white 50%, #888 50%);
	background-position: 0px 1.075em;
	background-repeat: repeat-x;
	background-size: 2px 2px;
	text-decoration: none;
	text-shadow: white -1px 0px 0px, white 1px 0px 0px;
}

a:hover {
	background-image: linear-gradient(white 50%, black 50%);
}

html, body {
	font-family: "Iosevka Web", monospace;
}

pre, code {
	font-family: inherit;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	-moz-font-feature-settings: "locl";
	-ms-font-feature-settings: "locl";
	-webkit-font-feature-settings: "locl";
	font-feature-settings: "locl";
}

p {
	margin: 1rem 0;
}

section {
	max-width: 50rem;
	padding: 4rem 1rem;
	margin: 0 auto;
}

section#introduction h1 {
	text-align: center;
	font-size: 10rem;
	font-weight: 700;
}

#downlinks {
	display: flex;
	justify-content: center;
}

#downlinks a {
	display: block;
	flex: none;
	width: 10em;
	margin: 0.5em;
	padding: 0.5em 0.5em 0.5em 3em;
	background: black;
	text-shadow: none;
	text-align: left;
	color: white;
	position: relative;
	line-height: 1em;
}

#downlinks a.wide {
	width: 15em;
}

#downlinks a.narrow {
	width: 4em;
}

#downlinks a:hover {
	background: #333;
}

#downlinks a icon {
	position: absolute;
	display: block;
	font-size: 1.5em;
	top: 50%;
	margin-top: -0.5em;
	left: 0.5em;
}

#downlinks a span {
	display: block;
	font-size: 60%;
}

section + section:before {
	content: ' ';
	display: block;
	height: 1px;
	background: #eee;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: -4rem;
}

section#descriptions {
	display: flex;
	justify-content: space-between;
}

section#descriptions h2 {
	margin: 3rem 0 0.5rem;
}

section#descriptions h2 + p {
	margin-top: 0.5rem;
}

section#descriptions ul.col {
	list-style: none;
	padding: 0;
	margin: 0;
	flex: none;
	width: calc((100% - 2rem) / 2);
}

section#descriptions ul.col > li:first-child h2 {
	margin-top: 0
}

section#weights
	max-width none
	white-space nowrap
	font-size 1.5rem
	background white
	> div
		display: flex;
		justify-content: center;
		> span
			display: block;
			flex: none;
		> span.weightname
			width: 6em;
			text-align: right;
			margin-right: 2rem;

thintitle()
	font-weight 200
	text-align center
	font-size 2rem
	margin-top 0
	margin-bottom 3rem

section#opentype
	width: 34.5em
	> h2
		thintitle()
	> div.hr
		font-size: 80%
		text-transform: uppercase
		letter-spacing: 0.2em
		margin: 3rem auto
		text-align: center
		display: block
		&:before, &:after
			content: ''
			display: inline-block
			border-bottom: 1px solid #ddd
			width: 4em
			margin: 0 1em
			vertical-align: 0.3em

	> ol
		list-style none
		margin 0
		padding 0
		font-size 1em
		width 35.5em
		> li
			margin 0
			padding 0
			position relative
			height 4.5em
			border-top 1px solid #eee
			margin-top 0.4em
			padding-top 0.4em
			&:first-child
				border-top none
				margin-top 0
			> .tag
				display block
				position absolute
				top calc(0.8em - 0.2em - 1px)
				left 0
				font-size 0.8em
				width 2em
				border 1px solid rgba(0, 0, 0, 0.25)
				padding 0.2em
				padding-bottom 0.1em
				text-align center
				border-radius 0.2em
			> .description
				display block
				position absolute
				top 0.8em
				right 0
				font-style italic
				font-size 0.8em
				color rgba(0, 0, 0, 0.5)
			> .sample
				display block
				white-space nowrap
				margin-top 1.6em
				&.italic { margin-top: 0.25em }
		&.narrow
			display flex
			justify-content center
			flex-wrap wrap
			width: 35em;
			margin-left: ((35.5em - 35em) / 2);
			> li
				margin 0 0.5em 0.5em
				border none
				width 4em
				flex none
				> .tag
					width auto
					left 50%
					margin-left calc(-1.2em - 1px)
				> .sample
					display inline-block
					font-size 2em
					margin-top 0.9em
					width 1em
					text-align center
		b
			font-weight normal
			color #c33500

section#ligations
	> h2
		thintitle()
	> table
		border-spacing 0
		border-top 2px solid black
		border-bottom 2px solid black
		margin 1em auto
		th
			white-space nowrap
		pre
			margin 0
		th, td
			padding: 0.4em 1em
			text-align: left
		tr.note
			td
				border-top 1px solid black
			font-style italic
			color #c33500
		em
			font-style normal
			color #444
		s, .nolig
			text-decoration: none
			opacity: 0.25
		.nolig
			font-feature-settings: "calt" 0

section#preview {
	max-width: none;
	text-align: center;
	transition: background 1.2s ease;
	font-size: 80%;
}

section#preview pre {
	display: inline-block;
	text-align: left;
}

section#preview #preview-toolbar {
	display: flex;
	color: black;
	font-family: "IosevkaWEB", monospace;
	font-size: 1rem;
	font-style: normal;
	font-weight: normal;
	background: white;
	margin: -4rem -1rem 4rem;
	padding: 0.75rem;
	justify-content: center;
}

section#preview #preview-toolbar h2 {
	display: inline;
	font-size: 1em;
	color: black;
	margin: 0 1rem 0 0;
}

section#preview #preview-toolbar h3 {
	display: none;
}

section#preview #preview-toolbar span.options {
	display: block;
	position: relative;
}

section#preview #preview-toolbar span.options + span.options {
	padding-left: 1.5rem;
}

section#preview #preview-toolbar span.options + span.options:before {
	content: ' ';
	display: block;
	border-left: 1px solid #ddd;
	position: absolute;
	top: -0.75rem;
	bottom: -0.75rem;
	left: 0.5rem;
}

section#preview #preview-toolbar span.options a {
	margin-right: 0.5em;
	background-position: 0px 11.075em;
}

section#preview #preview-toolbar span.options a.active, section#preview #preview-toolbar span.options a:hover {
	background-position: 0px 1.075em;
}

snippet {
	display: none
}

#copyright-line {
	opacity: 0.4;
	text-align: center;
	font-size: 0.8rem;
}

section#inziu-downloads {
	max-width: 36rem;
}

section#inziu-downloads h2 {
	font-weight: 200;
	text-align: center;
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 3rem;
}

section#inziu-downloads h3 {
	font-weight: normal;
	font-size: 1em;
	margin-top: 8rem;
	text-align: center;
}

section#inziu-downloads h2:before, section#inziu-downloads h2:after, section#inziu-downloads h3:before, section#inziu-downloads h3:after {
	content: '';
	display: inline-block;
	border-bottom: 1px solid #ddd;
	width: 2em;
	margin: 0 0.5em;
	vertical-align: 0.3em;
}

section#inziu-downloads li a.link {
	font-weight: bold
}

section#inziu-downloads #all-releases-w {
	text-align: center;
}

section#inziu-downloads #all-releases {
	display: inline-block;
	max-width: 30rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

section#inziu-downloads #all-releases li {
	padding: 0.5em 0;
	text-align: left;
}

section#inziu-downloads #all-releases li icon {
	vertical-align: -0.1em;
}


/* hljs */

section.color-light {
	background-color: hsl(39, 6%, 95%);
	color: #333;
}

.color-light .hljs-keyword, .color-light .hljs-class, .color-light .hljs-tag, .color-light .hljs-pseudo, .color-light .hljs-attr_selector, .color-light .hljs-constant, .color-light .xml .hljs-title {
	color: #446fbd;
}

.color-light .hljs-comment {
	color: hsl(0, 0%, 62%);
}

.color-light .hljs-title, .color-light .hljs-attribute, .color-light .hljs-params, .color-light .hljs-built_in {
	color: #8757ad;
}

.color-light .hljs-string, .color-light .hljs-pi, .color-light .language-less .hljs-keyword, .color-light .xml .hljs-value {
	color: #e88501;
}

.color-light .hljs-number, .color-light .xml .hljs-attribute {
	color: #6d8600;
}

.color-light .hljs-operator {
	color: #c33500;
}

section.color-dark {
	background-color: hsl(39, 6%, 12%);
	color: #cfcfcf;
}

.color-dark .hljs-keyword, .color-dark .hljs-class, .color-dark .hljs-tag, .color-dark .hljs-pseudo, .color-dark .hljs-attr_selector, .color-dark .hljs-constant, .color-dark .xml .hljs-title {
	color: #6c9ef8;
}

.color-dark .hljs-comment {
	color: #767676;
}

.color-dark .hljs-title, .color-dark .hljs-attribute, .color-dark .hljs-params, .color-dark .hljs-built_in {
	color: #b77fdb;
}

.color-dark .hljs-string, .color-dark .hljs-pi, .color-dark .language-less .hljs-keyword, .color-dark .xml .hljs-value {
	color: #D89333;
}

.color-dark .hljs-number, .color-dark .xml .hljs-attribute {
	color: #85a300;
}

.color-dark .hljs-operator {
	color: #c34564;
}