html {
	font-size: 16px;
}
@font-face {
	font-family: IosevkaWEB;
	src: url('assets/iosevka-regular.woff') format('woff'), url('assets/iosevka-regular.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	src: url('assets/iosevka-italic.woff') format('woff'), url('assets/iosevka-italic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: bold;
	src: url('assets/iosevka-bold.woff') format('woff'), url('assets/iosevka-bold.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: bold;
	src: url('assets/iosevka-bolditalic.woff') format('woff'), url('assets/iosevka-bolditalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	src: url('assets/iosevka-slab-regular.woff') format('woff'), url('assets/iosevka-slab-regular.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	src: url('assets/iosevka-slab-italic.woff') format('woff'), url('assets/iosevka-slab-italic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: bold;
	src: url('assets/iosevka-slab-bold.woff') format('woff'), url('assets/iosevka-slab-bold.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: bold;
	src: url('assets/iosevka-slab-bolditalic.woff') format('woff'), url('assets/iosevka-slab-bolditalic.ttf') format('truetype');
}
a {
	color: black;
	background-image: linear-gradient(white 50%, #888 50%);
	background-position: 0px 1.075em;
	background-repeat: repeat-x;
	background-size: 2px 2px;
	text-decoration: none;
	text-shadow: white -1px 0px 0px, white 1px 0px 0px;
}
a:hover {
	background-image: linear-gradient(white 50%, black 50%);
}
html, body {
	font-family: "IosevkaWEB", monospace;
}
.slab {
	font-family: "IosevkaSlabWEB", monospace;
}
.bold { font-weight: bold }
.italic { font-style: italic }
pre, code {
	font-family: inherit;
}
body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	-moz-font-feature-settings: "locl";
	-ms-font-feature-settings: "locl";
	-webkit-font-feature-settings: "locl";
	font-feature-settings: "locl";
}
p {
	margin: 1rem 0;
}

section {
	max-width: 50rem;
	padding: 4rem 1rem;
	margin: 0 auto;
}

section#introduction h1 {
	text-align: center;
	font-size: 10rem;
}
section#introduction #downlinks {
	display: flex;
	justify-content: center;
}
section#introduction #downlinks a {
	display: block;
	flex: none;
	width: 10em;
	margin: 0.5em;
	padding: 0.5em 0.5em 0.5em 3em;
	background: black;
	text-shadow: none;
	text-align: left;
	color: white;
	position: relative;
	line-height: 1em;
}
section#introduction #downlinks a:hover {
	background: #333;
}
section#introduction #downlinks a icon {
	position: absolute;
	display: block;
	font-size: 1.5em;
	top: 50%;
	margin-top: -0.5em;
	left: 0.5em;
}
section#introduction #downlinks a span {
	display: block;
	font-size: 60%;
}

section + section:before {
	content: ' ';
	display: block;
	height: 1px;
	background: #eee;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: -4rem;
}
section#descriptions {
	display: flex;
	justify-content: space-between;
}
section#descriptions h2 {
	margin: 3rem 0 0.5rem;
}
section#descriptions h2 + p {
	margin-top: 0.5rem;
}
section#descriptions ul.col {
	list-style: none;
	padding: 0;
	margin: 0;
	flex: none;
	width: calc((100% - 2rem) / 2);
}
section#descriptions ul.col > li:first-child h2 {
	margin-top: 0
}



section#preview {
	max-width: none;
	text-align: center;
	transition: background 1.2s ease;
	font-size: 80%;
}
section#preview pre {
	display: inline-block;
	text-align: left;
}
section#preview #preview-toolbar {
	display: flex;
	color: black;
	font-family: "IosevkaWEB", monospace;
	font-size: 1rem;
	font-style: normal;
	font-weight: normal;
	background: white;
	margin: -4rem -1rem 4rem;
	padding: 0.75rem;
	justify-content: center;
}
section#preview #preview-toolbar h2 {
	display: inline;
	font-size: 1em;
	color: black;
	margin: 0 1rem 0 0;
}
section#preview #preview-toolbar h3 {
	display: none;
}
section#preview #preview-toolbar span.options {
	display: block;
	position: relative;
}
section#preview #preview-toolbar span.options + span.options {
	padding-left: 1.5rem;
}
section#preview #preview-toolbar span.options + span.options:before {
	content: ' ';
	display: block;
	border-left: 1px solid #ddd;
	position: absolute;
	top: -0.75rem;
	bottom: -0.75rem;
	left: 0.5rem;
}
section#preview #preview-toolbar span.options a {
	margin-right: 0.5em;
	background-position: 0px 11.075em;
}
section#preview #preview-toolbar span.options a.active, section#preview #preview-toolbar span.options a:hover {
	background-position: 0px 1.075em;
}

snippet { display: none }

#copyright-line {
	opacity: 0.4;
}


/* hljs */
section.light {
	background-color: hsl(39, 6%, 95%);
	color: #333;
}
.light .hljs-keyword, .light .hljs-class, .light .hljs-tag, .light .hljs-pseudo, .light .hljs-attr_selector, .light .hljs-constant, .light .xml .hljs-title {
  color: #446fbd;
}
.light .hljs-comment {
  color: hsl(0, 0%, 62%);
}
.light .hljs-title, .light .hljs-attribute, .light .hljs-params {
  color: #8757ad;
}
.light .hljs-variable {
  color: #535353;
}
.light .hljs-string, .light .hljs-pi, .light .language-less .hljs-keyword, .light .xml .hljs-value {
  color: #e88501;
}
.light .hljs-number, .light .xml .hljs-attribute {
  color: #6d8600;
}
section.dark {
	background-color: hsl(39, 6%, 12%);
	color: #dddddd;
}
.dark .hljs-keyword, .dark .hljs-class, .dark .hljs-tag, .dark .hljs-pseudo, .dark .hljs-attr_selector, .dark .hljs-constant, .dark .xml .hljs-title {
	color: #6c9ef8;
}
.dark .hljs-comment {
	color: #767676;
}
.dark .hljs-title, .dark .hljs-attribute, .dark .hljs-params, .dark .hljs-built_in {
	color: #b77fdb;
}
.dark .hljs-variable {
	color: #dddddd;
}
.dark .hljs-string, .dark .hljs-pi, .dark .language-less .hljs-keyword, .dark .xml .hljs-value {
	color: #D89333;
}
.dark .hljs-number, .dark .xml .hljs-attribute {
	color: #85a300;
}