<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Inziu Iosevka Downloads</title>
	<style>
		@import url(index.css);
	</style>
	<link href="https://cdn.bootcss.com/simple-line-icons/2.2.3/css/simple-line-icons.css" rel="stylesheet" />
	<script src="https://cdn.bootcss.com/vue/1.0.7/vue.min.js"></script>
	<script>if (!window.Vue) document.write('<script src="vue.min.js">\x3C/script>')</script>
</head>

<body>
	<section id="inziu-downloads" class="general">
		<h2>Inziu Iosevka Downloads</h2>
		<p>Inziu Iosevka is a composite of <a href="http://be5invis.github.io/Iosevka/">Iosevka</a>, <a href="https://mplus-fonts.osdn.jp/">M+</a>			and <a href="https://github.com/adobe-fonts/source-han-sans">Source Han Sans</a>. It is <a href="https://github.com/be5invis/sfdhanautohint">fully hinted</a>			and optimized for screen display on every device, and every resolution.</p>
		<div id="downlinks">
			<a class="wide" href="http://{{releases[0].site}}/inziu-iosevka-{{(releases[0].version)}}.7z">
				<icon class="icon-cloud-download"></icon>Inziu Iosevka version {{(releases[0].version)}}<span>7-zip archive of TTC files. Updated {{releases[0].date}}.</span></a>
			<a v-if="(!releases[0].nottf)" class="narrow" href="http://{{releases[0].site}}/inziu-iosevka-ttfs-{{(releases[0].version)}}.7z">
				<icon class="icon-cloud-download"></icon>ttfs<span>TTF archive</span></a>
		</div>

		<h3>History releases</h3>
		<div id="all-releases-w">
			<ul id="all-releases">
				<li v-for="r in (releases.slice(1))">
					<icon class="icon-cloud-download"></icon><a class="link" href="http://{{r.site}}/inziu-iosevka-{{r.version}}.7z">Inziu Iosevka version {{r.version}}</a>
					<template v-if="(!r.nottf)"><a class="link" href="http://{{r.site}}/inziu-iosevka-ttfs-{{r.version}}.7z">ttfs</a></template> ({{r.date}})
				</li>
			</ul>
		</div>
	</section>
	<div id="copyright-line">Copyright (c) 2015-2017 Belleve Invis.</div>

	<script>
		var DEFAULT = '7xpdnl.dl1.z0.glb.clouddn.com'
		var display = new Vue({
			el: '#inziu-downloads',
			data: {
				releases: [
					{version: '1.11.4', site: DEFAULT, date: 'Mar 13, 2017'},
					{version: '1.11.1', site: DEFAULT, date: 'Feb 21, 2017'},
					{version: '1.11.0', site: DEFAULT, date: 'Jan 25, 2017'},
					{version: '1.10.5', site: DEFAULT, date: 'Jan 17, 2017'},
					{version: '1.10.4', site: DEFAULT, date: 'Jan 13, 2017'},
					{version: '1.10.3', site: DEFAULT, date: 'Jan 6, 2017'},
					{version: '1.10.0', site: DEFAULT, date: 'Dec 14, 2016'},
					{version: '1.9.6', site: DEFAULT, date: 'Nov 23, 2016'},
					{version: '1.9.5', site: DEFAULT, date: 'Oct 23, 2016'},
					{version: '1.9.4', site: DEFAULT, date: 'Sep 29, 2016'},
					{version: '1.9.3d', site: DEFAULT, date: 'Sep 22, 2016'},
					{version: '1.9.3c', site: DEFAULT, date: 'Sep 11, 2016'},
					{version: '1.9.3b', site: DEFAULT, date: 'Sep 4, 2016'},
					{version: '1.9.3', site: DEFAULT, date: 'Sep 3, 2016'},
					{version: '1.9.2', site: DEFAULT, date: 'Aug 3, 2016'},
					{version: '1.9.1', site: DEFAULT, date: 'Jun 23, 2016'},
					{version: '1.9.0', site: DEFAULT, date: 'Jun 13, 2016'},
					{version: '1.8.6', site: DEFAULT, date: 'Jun 5, 2016'},
					{version: '1.8.5', site: DEFAULT, date: 'May 28, 2016'},
					{version: '1.8.4', site: DEFAULT, date: 'Apr 15, 2016'},
					{version: '1.8.3', site: DEFAULT, date: 'Mar 16, 2016'},
					{version: '1.8.2', site: DEFAULT, date: 'Mar 8, 2016'},
					{version: '1.8.1', site: DEFAULT, date: 'Mar 7, 2016'},
					{version: '1.8.0b', site: DEFAULT, date: 'Mar 1, 2016'},
					{version: '1.8.0', site: DEFAULT, date: 'Feb 24, 2016'},
					{version: '1.7.5', site: DEFAULT, date: 'Feb 13, 2016'},
					{version: '1.7.4', site: DEFAULT, date: 'Feb 12, 2016'},
					{version: '1.7.3', site: DEFAULT, date: 'Jan 26, 2016'},
					{version: '1.7.2', site: DEFAULT, date: 'Jan 23, 2016'},
					{version: '1.7.1', site: DEFAULT, date: 'Jan 14, 2016'},
					{version: '1.7.0', site: DEFAULT, date: 'Jan 13, 2016'},
					{version: '1.6.3', site: DEFAULT, date: 'Jan 11, 2016', nottf: true},
					{version: '1.6.2', site: DEFAULT, date: 'Jan 8, 2016', nottf: true},
					{version: '1.6.1', site: DEFAULT, date: 'Jan 3, 2016', nottf: true}
				]
			}
		})
	</script>
</body>

</html>
