
@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaEtoile-Thin.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaEtoile-ThinOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaEtoile-ThinOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaEtoile-ThinItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaEtoile-ExtraLight.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaEtoile-ExtraLightOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaEtoile-ExtraLightOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaEtoile-ExtraLightItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaEtoile-Light.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaEtoile-LightOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaEtoile-LightOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaEtoile-LightItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaEtoile-Regular.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaEtoile-Oblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaEtoile-Oblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaEtoile-Italic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaEtoile-Medium.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaEtoile-MediumOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaEtoile-MediumOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaEtoile-MediumItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaEtoile-SemiBold.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaEtoile-SemiBoldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaEtoile-SemiBoldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaEtoile-SemiBoldItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaEtoile-Bold.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaEtoile-BoldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaEtoile-BoldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaEtoile-BoldItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaEtoile-ExtraBold.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaEtoile-ExtraBoldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaEtoile-ExtraBoldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaEtoile-ExtraBoldItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaEtoile-Heavy.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaEtoile-HeavyOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaEtoile-HeavyOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaEtoile-HeavyItalic.WOFF2') format('woff2');
}
