<section id="ligation-sampler">
	<%_ for(const line of ligation.samples) { _%>
	<div className="line"><%_ for(let i =  0; i < line.length; i++) { _%>
		<%_     const item = line[i]; _%>
		<%_     if(i > 0) { _%><%= " " %><%_ } _%>
		<s><%= item.s %></s>
	<%_     } _%></div>
	<%_ } _%>
</section>