<section id="packaging-sampler">
<p class="sample">
ABC.DEF.GHI.JKL.MNO.PQRS.TUV.WXYZ<br/>
abc.def.ghi.jkl.mno.pqrs.tuv.wxyz<br/>
1234567890 ,._-+= &gt;&lt; ¯-¬_ &gt;~–÷+×&lt;<br/>
{}[]()&lt;&gt; $*-+=/#_%^@\&amp;|~?'" !,.;:
</p>
<p class="sample">
!iIlL17|¦ coO08BbDQ $5SZ2zsz 96G&<br/>
dbqp E3 g9q CGQ vvw VVW \/V &lt;= &gt;=</p>
</section>
