<section id="packaging-sampler" class="iosevka-aile">
<div class="inner">
<p class="sample"><span class="col">ABC.DEF.GHI.JKL.MNO.PQRS.TUV.WXYZ</span><span class="col">abc.def.ghi.jkl.mno.pqrs.tuv.wxyz</span></p>
<p class="sample"><span class="col">1234567890 ,._-+= &gt;&lt; ¯-¬_ &gt;~–÷+×&lt;</span><span class="col">{}[]()&lt;&gt; $*-+=/#_%^@\&amp;|~?'" !,.;:</span></p>
<p class="sample"><span class="col">!iIlL17|¦ coO08BbDQ $5SZ2zsz 96G&</span><span class="col">dbqp E3 g9q CGQ vvw VVW \/V &lt;= &gt;=</span></p>
</div>
</section>
