<section id="languages">
	<section class="preview color-dark" style="font-feature-settings:'locl'"><pre><code class="javascript hljs"><span class=keyword>const</span> languages <span class="operator">=</span> [
	{lang: <span class=string>'English'</span>,       sample: <span class=string>'Shaw, those twelve beige hooks are joined if I patch a young, gooey mouth.'</span>},
	{lang: <span class=string>'IPA'</span>,           sample: <span class=string>'[ɢʷɯʔ.nas.doːŋ.kʰlja] [ŋan.ȵʑi̯wo.ɕi̯uĕn.ɣwa]'</span>},
	{lang: <span class=string>'Bulgarian'</span>,     sample: <span class=string lang=bg>'Я, пазачът Вальо уж бди, а скришом хапва кюфтенца зад щайгите.'</span>},
	{lang: <span class=string>'Czech'</span>,         sample: <span class=string>'Nechť již hříšné saxofony ďáblů rozezvučí síň úděsnými tóny waltzu, tanga a quickstepu.'</span>},
	{lang: <span class=string>'Finnish'</span>,       sample: <span class=string>'Charles Darwin jammaili Åken hevixylofonilla Qatarin yöpub Zeligissä.'</span>},
	{lang: <span class=string>'French'</span>,        sample: <span class=string>'Voix ambiguë d’un cœur qui au zéphyr préfère les jattes de kiwi.'</span>},
	{lang: <span class=string>'German'</span>,        sample: <span class=string>'Victor jagt zwölf Boxkämpfer quer über den großen Sylter Deich.'</span>},
	{lang: <span class=string>'Greek'</span>,         sample: <span class=string>'Ταχίστη αλώπηξ βαφής ψημένη γη, δρασκελίζει υπέρ νωθρού κυνός.'</span>},
	{lang: <span class=string>'Ancient Greek'</span>, sample: <span class=string>'Ἄδμηθ’, ὁρᾷς γὰρ τἀμὰ πράγμαθ’ ὡς ἔχει, λέξαι θέλω σοι πρὶν θανεῖν ἃ βούλομαι.'</span>},
	{lang: <span class=string>'Hungarian'</span>,     sample: <span class=string>'Jó foxim és don Quijote húszwattos lámpánál ülve egy pár bűvös cipőt készít.'</span>},
	{lang: <span class=string>'Icelandic'</span>,     sample: <span class=string>'Kæmi ný öxi hér, ykist þjófum nú bæði víl og ádrepa.'</span>},
	{lang: <span class=string>'Irish'</span>,         sample: <span class=string>'Ċuaiġ bé ṁórṡáċ le dlúṫspád fíorḟinn trí hata mo ḋea-ṗorcáin ḃig.'</span>},
	{lang: <span class=string>'Latvian'</span>,       sample: <span class=string>'Muļķa hipiji mēģina brīvi nogaršot celofāna žņaudzējčūsku.'</span>},
	{lang: <span class=string>'Lithuanian'</span>,    sample: <span class=string>'Įlinkdama fechtuotojo špaga sublykčiojusi pragręžė apvalų arbūzą.'</span>},
	{lang: <span class=string>'Macedonian'</span>,    sample: <span class=string lang=mk>'Ѕидарски пејзаж: шугав билмез со чудење џвака ќофте и кељ на туѓ цех.'</span>},
	{lang: <span class=string>'Norwegian'</span>,     sample: <span class=string>'Jeg begynte å fortære en sandwich mens jeg kjørte taxi på vei til quiz'</span>},
	{lang: <span class=string>'Polish'</span>,        sample: <span class=string>'Pchnąć w tę łódź jeża lub ośm skrzyń fig.'</span>},
	{lang: <span class=string>'Portuguese'</span>,    sample: <span class=string>'Luís argüia à Júlia que «brações, fé, chá, óxido, pôr, zângão» eram palavras do português.'</span>},
	{lang: <span class=string>'Romanian'</span>,      sample: <span class=string>'Înjurând pițigăiat, zoofobul comandă vexat whisky și tequila.'</span>},
	{lang: <span class=string>'Russian'</span>,       sample: <span class=string>'Широкая электрификация южных губерний даст мощный толчок подъёму сельского хозяйства.'</span>},
	{lang: <span class=string>'Serbian'</span>,       sample: <span class=string lang=sr>'Ајшо, лепото и чежњо, за љубав срца мога дођи у Хаџиће на кафу.'</span>},
	{lang: <span class=string>'Spanish'</span>,       sample: <span class=string>'Benjamín pidió una bebida de kiwi y fresa; Noé, sin vergüenza, la más exquisita champaña del menú.'</span>},
	{lang: <span class=string>'Turkish'</span>,       sample: <span class=string>'Pijamalı hasta yağız şoföre çabucak güvendi.'</span>},
	{lang: <span class=string>'Ukrainian'</span>,     sample: <span class=string>'Чуєш їх, доцю, га? Кумедна ж ти, прощайся без ґольфів!'</span>}
]
</code></pre></section>
</section>
