<section id="matrix">
	<%_ for(const cl of ["sans", "slab"]) { _%>
	<div class="<%= cl %>">
		<%_ for(const sl of ["upright", "italic", "oblique"]) { _%>
			<row class="<%= sl %>">
				<%_ for(const weight of weights) { _%>
					<%_ _%><span class="wght-<%= weight %>">Mag</span><%_ _%>
				<%_ } _%>
			</row>
		<%_ } _%>
	</div>
	<%_ } _%>
</section>