
@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQp-regular.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQp-Extendedregular.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQp-regularOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQp-regularOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQp-ExtendedregularOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQp-ExtendedregularOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQp-regularItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQp-ExtendedregularItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQp-bold.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQp-Extendedbold.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQp-boldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQp-boldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQp-ExtendedboldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQp-ExtendedboldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQp-boldItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQp-ExtendedboldItalic.WOFF2') format('woff2');
}
