
@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQp-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQp-Extendedregular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQp-regularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQp-regularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQp-ExtendedregularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQp-ExtendedregularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQp-regularItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQp-ExtendedregularItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQp-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQp-Extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQp-boldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQp-boldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQp-ExtendedboldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQp-ExtendedboldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQp-boldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQp-ExtendedboldItalic.woff2') format('woff2');
}
