@font-face {
	font-family: IosevkaWEB;
	font-weight: 100;
	src: url('assets/iosevka-thin.woff') format('woff'), url('assets/iosevka-thin.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 100;
	font-style: italic;
	src: url('assets/iosevka-thinitalic.woff') format('woff'), url('assets/iosevka-thinitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 200;
	src: url('assets/iosevka-extralight.woff') format('woff'), url('assets/iosevka-extralight.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 200;
	font-style: italic;
	src: url('assets/iosevka-extralightitalic.woff') format('woff'), url('assets/iosevka-extralightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 300;
	src: url('assets/iosevka-light.woff') format('woff'), url('assets/iosevka-light.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 300;
	font-style: italic;
	src: url('assets/iosevka-lightitalic.woff') format('woff'), url('assets/iosevka-lightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	src: url('assets/iosevka-regular.woff') format('woff'), url('assets/iosevka-regular.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	src: url('assets/iosevka-italic.woff') format('woff'), url('assets/iosevka-italic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 500;
	src: url('assets/iosevka-medium.woff') format('woff'), url('assets/iosevka-medium.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 500;
	src: url('assets/iosevka-mediumitalic.woff') format('woff'), url('assets/iosevka-mediumitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 700;
	src: url('assets/iosevka-bold.woff') format('woff'), url('assets/iosevka-bold.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 700;
	src: url('assets/iosevka-bolditalic.woff') format('woff'), url('assets/iosevka-bolditalic.ttf') format('truetype');
}
/*
@font-face {
	font-family: IosevkaWEB;
	font-weight: 800;
	src: url('assets/iosevka-extrabold.woff') format('woff'), url('assets/iosevka-extrabold.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 800;
	src: url('assets/iosevka-extrabolditalic.woff') format('woff'), url('assets/iosevka-extrabolditalic.ttf') format('truetype');
}
*/
@font-face {
	font-family: IosevkaWEB;
	font-weight: 900;
	src: url('assets/iosevka-heavy.woff') format('woff'), url('assets/iosevka-heavy.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 900;
	src: url('assets/iosevka-heavyitalic.woff') format('woff'), url('assets/iosevka-heavyitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 100;
	src: url('assets/iosevka-slab-thin.woff') format('woff'), url('assets/iosevka-slab-thin.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 100;
	font-style: italic;
	src: url('assets/iosevka-slab-thinitalic.woff') format('woff'), url('assets/iosevka-slab-thinitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 200;
	src: url('assets/iosevka-slab-extralight.woff') format('woff'), url('assets/iosevka-slab-extralight.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 200;
	font-style: italic;
	src: url('assets/iosevka-slab-extralightitalic.woff') format('woff'), url('assets/iosevka-slab-extralightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 300;
	src: url('assets/iosevka-slab-light.woff') format('woff'), url('assets/iosevka-slab-light.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 300;
	font-style: italic;
	src: url('assets/iosevka-slab-lightitalic.woff') format('woff'), url('assets/iosevka-slab-lightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	src: url('assets/iosevka-slab-regular.woff') format('woff'), url('assets/iosevka-slab-regular.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	src: url('assets/iosevka-slab-italic.woff') format('woff'), url('assets/iosevka-slab-italic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 500;
	src: url('assets/iosevka-slab-medium.woff') format('woff'), url('assets/iosevka-slab-medium.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 500;
	src: url('assets/iosevka-slab-mediumitalic.woff') format('woff'), url('assets/iosevka-slab-mediumitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 700;
	src: url('assets/iosevka-slab-bold.woff') format('woff'), url('assets/iosevka-slab-bold.ttf') format('truetype');
}

@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 700;
	src: url('assets/iosevka-slab-bolditalic.woff') format('woff'), url('assets/iosevka-slab-bolditalic.ttf') format('truetype');
}
/*
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 800;
	src: url('assets/iosevka-slab-extrabold.woff') format('woff'), url('assets/iosevka-slab-extrabold.ttf') format('truetype');
}

@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 800;
	src: url('assets/iosevka-slab-extrabolditalic.woff') format('woff'), url('assets/iosevka-slab-extrabolditalic.ttf') format('truetype');
}
*/
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 900;
	src: url('assets/iosevka-slab-heavy.woff') format('woff'), url('assets/iosevka-slab-heavy.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 900;
	src: url('assets/iosevka-slab-heavyitalic.woff') format('woff'), url('assets/iosevka-slab-heavyitalic.ttf') format('truetype');
}

.thin       { font-weight: 100 }
.extralight { font-weight: 200 }
.light      { font-weight: 300 }
.medium     { font-weight: 500 }
.bold       { font-weight: 700 }
.extrabold  { font-weight: 800 }
.heavy      { font-weight: 900 }
.italic     { font-style: italic }
.slab { font-family: "IosevkaSlabWEB", monospace }