@font-face {
	font-family: IosevkaWEB;
	font-weight: 100;
	src: url('assets/iosevka-thin.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 100;
	font-style: italic;
	src: url('assets/iosevka-thinitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 100;
	font-style: oblique;
	src: url('assets/iosevka-thinoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 200;
	src: url('assets/iosevka-extralight.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 200;
	font-style: italic;
	src: url('assets/iosevka-extralightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 200;
	font-style: oblique;
	src: url('assets/iosevka-extralightoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 300;
	src: url('assets/iosevka-light.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 300;
	font-style: italic;
	src: url('assets/iosevka-lightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 300;
	font-style: oblique;
	src: url('assets/iosevka-lightoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	src: url('assets/iosevka-regular.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	src: url('assets/iosevka-italic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: oblique;
	src: url('assets/iosevka-oblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 500;
	src: url('assets/iosevka-medium.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 500;
	src: url('assets/iosevka-mediumitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: oblique;
	font-weight: 500;
	src: url('assets/iosevka-mediumoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 600;
	src: url('assets/iosevka-semibold.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 600;
	src: url('assets/iosevka-semibolditalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: oblique;
	font-weight: 600;
	src: url('assets/iosevka-semiboldoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 700;
	src: url('assets/iosevka-bold.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 700;
	src: url('assets/iosevka-bolditalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: oblique;
	font-weight: 700;
	src: url('assets/iosevka-boldoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 800;
	src: url('assets/iosevka-extrabold.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 800;
	src: url('assets/iosevka-extrabolditalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: oblique;
	font-weight: 800;
	src: url('assets/iosevka-extraboldoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 900;
	src: url('assets/iosevka-heavy.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 900;
	src: url('assets/iosevka-heavyitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: oblique;
	font-weight: 900;
	src: url('assets/iosevka-heavyoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 100;
	src: url('assets/iosevka-slab-thin.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 100;
	font-style: italic;
	src: url('assets/iosevka-slab-thinitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 100;
	font-style: oblique;
	src: url('assets/iosevka-slab-thinoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 200;
	src: url('assets/iosevka-slab-extralight.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 200;
	font-style: italic;
	src: url('assets/iosevka-slab-extralightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 200;
	font-style: oblique;
	src: url('assets/iosevka-slab-extralightoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 300;
	src: url('assets/iosevka-slab-light.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 300;
	font-style: italic;
	src: url('assets/iosevka-slab-lightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 300;
	font-style: oblique;
	src: url('assets/iosevka-slab-lightoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	src: url('assets/iosevka-slab-regular.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	src: url('assets/iosevka-slab-italic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: oblique;
	src: url('assets/iosevka-slab-oblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 500;
	src: url('assets/iosevka-slab-medium.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 500;
	src: url('assets/iosevka-slab-mediumitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: oblique;
	font-weight: 500;
	src: url('assets/iosevka-slab-mediumoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 600;
	src: url('assets/iosevka-slab-semibold.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 600;
	src: url('assets/iosevka-slab-semibolditalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: oblique;
	font-weight: 600;
	src: url('assets/iosevka-slab-semiboldoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 700;
	src: url('assets/iosevka-slab-bold.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 700;
	src: url('assets/iosevka-slab-bolditalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: oblique;
	font-weight: 700;
	src: url('assets/iosevka-slab-boldoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 800;
	src: url('assets/iosevka-slab-extrabold.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 800;
	src: url('assets/iosevka-slab-extrabolditalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: oblique;
	font-weight: 800;
	src: url('assets/iosevka-slab-extraboldoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 900;
	src: url('assets/iosevka-slab-heavy.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 900;
	src: url('assets/iosevka-slab-heavyitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: oblique;
	font-weight: 900;
	src: url('assets/iosevka-slab-heavyoblique.ttf') format('truetype');
}

.thin       { font-weight: 100 }
.extralight { font-weight: 200 }
.light      { font-weight: 300 }
.medium     { font-weight: 500 }
.semibold   { font-weight: 600 }
.bold       { font-weight: 700 }
.extrabold  { font-weight: 800 }
.heavy      { font-weight: 900 }
.italic     { font-style: italic }
.oblique    { font-style: oblique }
.slab { font-family: "IosevkaSlabWEB", monospace }