
@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQpeSlab-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQpeSlab-Extendedregular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpeSlab-regularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQpeSlab-regularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpeSlab-ExtendedregularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQpeSlab-ExtendedregularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQpeSlab-regularItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQpeSlab-ExtendedregularItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQpeSlab-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQpeSlab-Extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpeSlab-boldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQpeSlab-boldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpeSlab-ExtendedboldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQpeSlab-ExtendedboldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQpeSlab-boldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQpeSlab-ExtendedboldItalic.woff2') format('woff2');
}
