
@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQpeSlab-regular.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQpeSlab-Extendedregular.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpeSlab-regularOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQpeSlab-regularOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpeSlab-ExtendedregularOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQpeSlab-ExtendedregularOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQpeSlab-regularItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQpeSlab-ExtendedregularItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQpeSlab-bold.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQpeSlab-Extendedbold.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpeSlab-boldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQpeSlab-boldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpeSlab-ExtendedboldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQpeSlab-ExtendedboldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQpeSlab-boldItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQpeSlab-ExtendedboldItalic.WOFF2') format('woff2');
}
