
@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQpe-regular.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQpe-Extendedregular.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpe-regularOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQpe-regularOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpe-ExtendedregularOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQpe-ExtendedregularOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQpe-regularItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQpe-ExtendedregularItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQpe-bold.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQpe-Extendedbold.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpe-boldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQpe-boldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpe-ExtendedboldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQpe-ExtendedboldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQpe-boldItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQpe-ExtendedboldItalic.WOFF2') format('woff2');
}
