
@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQpe-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQpe-Extendedregular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpe-regularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQpe-regularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpe-ExtendedregularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQpe-ExtendedregularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQpe-regularItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQpe-ExtendedregularItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQpe-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQpe-Extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpe-boldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQpe-boldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpe-ExtendedboldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQpe-ExtendedboldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQpe-boldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QPE Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQpe-ExtendedboldItalic.woff2') format('woff2');
}
