@import "./chroma.scss";
@import "./switch-button.scss";
@import "./sampler-panel.scss";
@import "./metrics.scss";

$smallOptionSize: 1.75rem;
$largeOptionSize: 3.125rem;
.character-variant-picker-group {
    display: block;
    width: 2 * $smallOptionSize;
    box-sizing: border-box;
    position: relative;
    &.large {
        width: $largeOptionSize;
    }
    &.large > .option.header {
        height: $largeOptionSize;
        line-height: $largeOptionSize;
        > .upright-sample,
        > .italic-sample {
            font-size: 1.5em;
            width: $largeOptionSize;
        }
        > .dropdown-icon {
            position: absolute;
            right: 0;
            top: 2rem;
            width: 0.75rem;
            height: 1.5rem;
            line-height: 1.5rem;
        }
    }
    > .option.header {
        border: 1px solid $dark1;
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        position: relative;
        > .upright-sample,
        > .italic-sample {
            display: inline-block;
            width: $smallOptionSize;
            text-align: center;
        }
        > .dropdown-icon {
            display: inline-block;
            position: absolute;
            width: $smallOptionSize;
            text-align: center;
            font-feature-settings: "NWID" on;
            right: 0;
            opacity: 0.5;
        }
        &.non-default > .upright-sample,
        &.non-default > .italic-sample {
            font-weight: 600;
            color: $accent1;
        }
    }
    > .options {
        position: absolute;
        top: 100%;
        margin-top: -1px;
        left: 0;
        z-index: 3;
        background: $dark1;
        border: 1px solid $dark1;
        overflow: hidden;
        flex-wrap: wrap;
        > .group {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &.dropdown-hidden > .options {
        display: none;
    }
    &.dropdown-visible {
        > .option.header {
            z-index: 4;
            border-left-color: change-color($light1, $alpha: 0.5);
            border-top-color: change-color($light1, $alpha: 0.5);
            border-right-color: change-color($light1, $alpha: 0.5);
        }
        > .options {
            border-color: change-color($light1, $alpha: 0.5);
        }
    }
    .option {
        cursor: pointer;
        display: block;
        width: $smallOptionSize;
        height: $smallOptionSize;
        line-height: $smallOptionSize;
        text-align: center;
        font-weight: 300;
        &.inactive {
            color: change-color($light1, $alpha: 0.75);
        }
        &.active {
            color: $light4;
            font-weight: 600;
            &.non-default {
                color: $accent1;
            }
        }
        &:hover {
            @include control-hover();
        }
        > .italic-sample {
            font-style: italic;
        }
    }
}
