$dark1: #101414;
$dark2: #212525;
$dark3: #333737;
$dark4: #464a4a;
$light1: #c7cccb;
$light2: #dee4e3;
$light4: #fcfcfc;
$dim1: #6e7372;
$red1: #ec7d71;
$azure1: #00ace9;
$orange1: #d78c50;
$green1: #4db073;
$cyan1: #56dcee;
$accent1: #75f4ff;

$control-border: change-color($light1, $alpha: 0.25);
$control-border-hover: $light1;
$control-border-focus: $accent1;
$control-mark: $accent1;

@mixin gradient-text-bg($color1, $color2) {
	background: linear-gradient(45deg, $color1, $color2);
	background-clip: text;
	-webkit-background-clip: text;
}

@mixin gradient-text-enable() {
	text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
}

@mixin gradient-text($color1, $color2) {
	@include gradient-text-bg($color1, $color2);
	@include gradient-text-enable();
}

@mixin thin-underline($pos, $color1, $color2) {
	text-decoration: none;
	background-image: linear-gradient(to right, $color1, $color1);
	background-position: 0 $pos;
	background-repeat: repeat-x;
	background-size: 8px 1px;
	text-shadow: 0.5px 0.5px $dark1, 0.5px -0.5px $dark1, -0.5px 0.5px $dark1, -0.5px -0.5px $dark1,
		1px 1px $dark1, 1px -1px $dark1, -1px 1px $dark1, -1px -1px $dark1;
	&:hover {
		background-image: linear-gradient(to right, $color2, $color2);
	}
}

@mixin control-hover() {
	background: change-color($light1, $alpha: 0.15);
}

@mixin control-active-no-hover() {
	background: $light1;
	color: $dark1;
}

@mixin control-active() {
	background: $light1;
	color: $dark1;
	&:hover {
		background: mix($dark1, $light1, 15%);
	}
}

@mixin add-backdrop() {
	&::after {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $dark2;
		z-index: -1;
		border: 1px solid $control-border;
		margin: -1px;
		box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
	}
}
