@import "./chroma.scss";
@import "./font-cfg.scss";

body {
	@include fc-sans();
	background: $dark1;
	color: $light1;
}

html,
body {
	font-size: 20px;
	margin: 0;
	padding: 0;
	scrollbar-color: dark;
}

pre,
code {
	@include fc-sans();
}
