@use "chroma.scss";
@use "font-cfg.scss";

body {
	@include font-cfg.fc-sans();
	background: chroma.$dark1;
	color: chroma.$light1;
}

html,
body {
	font-size: 20px;
	margin: 0;
	padding: 0;
	scrollbar-color: dark;
}

pre,
code {
	@include font-cfg.fc-sans();
}
