@use "chroma.scss";
.feature-usage-shower {
	border: 1px solid chroma.$dark3;
	margin: 1.5rem 0 0.5rem 0;
	padding: 0.5rem;

	h3 {
		font-size: 0.8rem;
		font-weight: 400;
		font-stretch: expanded;
		margin: 0;
		text-transform: uppercase;
		background: chroma.$dark1;
		margin-top: -1rem;
		padding: 0 0.5em;
		width: 14em;
	}
	> .sample-code {
		margin: 0;
		font-size: 0.8rem;
	}
}
