@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// font assignment mixins

@mixin fc-sans() {
    font-family: "Iosevka Web", Consolas, Courier, monospace;
    &.s-2 {
        font-style: normal;
        font-family: "Iosevka Web Oblique", Consolas, Courier, monospace;
    }
}

@mixin fc-slab() {
    font-family: "Iosevka Slab Web", monospace, serif;
    &.s-2 {
        font-style: normal;
        font-family: "Iosevka Slab Web Oblique", monospace, serif;
    }
}

@mixin fc-aile() {
    font-family: "Iosevka Aile Web", sans-serif;
    &.s-2 {
        font-style: normal;
        font-family: "Iosevka Aile Web Oblique", sans-serif;
    }
}

@mixin fc-etoile() {
    font-family: "Iosevka Etoile Web", serif;
    &.s-2 {
        font-style: normal;
        font-family: "Iosevka Etoile Web Oblique", serif;
    }
}

@mixin fc-QP() {
    font-family: "Iosevka QP Web", sans-serif;
    &.s-2 {
        font-style: normal;
        font-family: "Iosevka QP Web Oblique", sans-serif;
    }
}

@mixin fc-QP-Slab() {
    font-family: "Iosevka QP Slab Web", serif;
    &.s-2 {
        font-style: normal;
        font-family: "Iosevka QP Slab Web Oblique", serif;
    }
}

@mixin fc-QPE() {
    font-family: "Iosevka QPE Web", sans-serif;
    &.s-2 {
        font-style: normal;
        font-family: "Iosevka QPE Web Oblique", sans-serif;
    }
}

@mixin fc-QPE-Slab() {
    font-family: "Iosevka QPE Slab Web", serif;
    &.s-2 {
        font-style: normal;
        font-family: "Iosevka QPE Slab Web Oblique", serif;
    }
}

@mixin fc-fira-code() {
    font-family: "Fira Code", monospace;
}

@mixin fc-ibm-plex() {
    font-family: "IBM Plex Mono", monospace;
}

// Font assignment classes

.sans {
    @include fc-sans();
}
.slab {
    @include fc-slab();
}
.aile {
    @include fc-aile();
}
.etoile {
    @include fc-etoile();
}
.qp {
    @include fc-QP();
}
.qp-slab {
    @include fc-QP-Slab();
}
.qpe {
    @include fc-QPE();
}
.qpe-slab {
    @include fc-QPE-Slab();
}
.fira-code {
    @include fc-fira-code();
}
.ibm-plex {
    @include fc-ibm-plex();
}
.w-100 {
    font-weight: 100;
}
.w-200 {
    font-weight: 200;
}
.w-300 {
    font-weight: 300;
}
.w-400 {
    font-weight: 400;
}
.w-450 {
    font-weight: 450;
}
.w-500 {
    font-weight: 500;
}
.w-600 {
    font-weight: 600;
}
.w-700 {
    font-weight: 700;
}
.w-800 {
    font-weight: 800;
}
.w-900 {
    font-weight: 900;
}
.s-1 {
    font-style: normal;
}
.s-2 {
    font-style: oblique;
}
.s-3 {
    font-style: italic;
}
.wd-500 {
    font-stretch: normal;
}
.wd-600 {
    font-stretch: expanded;
}
