@use "sass:math";

$rootFontSize: 20px;
$sectionWidth: 56rem;
$toolbarHeight: 2rem;
$sectionPadding: 4rem;
$sectionHPadding: 2rem;

@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
	@return math.div($number, $number * 0 + 1);
	}
	@return $number;
	}

@function remToPx($x) {
	@return $rootFontSize * strip-unit($x);
}

$sectionTotalWidth: remToPx(2 * $sectionHPadding + $sectionWidth);

@function sectionTotalWidthChars($cch, $textSize) {
	@return remToPx(0.5 * $cch * $textSize + 2 * $sectionHPadding);
}

@mixin AutoFontSize($cch, $textSize, $scalar: 1, $delta: 0rem) {
	@media (max-width: sectionTotalWidthChars($cch, $textSize)) {
		font-size: $scalar * $textSize - $delta;
		@content;
	}
}
