@use "sass:color";
@use "chroma.scss";

@mixin picker-button-visual() {
	cursor: pointer;
	border-bottom: 2px solid transparent;
	&:hover {
		border-bottom-color: color.change(chroma.$light1, $alpha: 0.25);
	}
	&.active {
		border-bottom-color: chroma.$cyan1;
		color: chroma.$light4;
		font-weight: bolder;
	}
	&.disabled {
		cursor: not-allowed;
		color: color.change(chroma.$light1, $alpha: 0.25);
	}
	&.disabled:hover,
	&.disabled.active {
		font-weight: normal;
		border-bottom-color: transparent;
	}
}

.picker-frame {
	.toolbar.separate-toolbar {
		line-height: 1.5rem;
		height: 1.5rem;
		> .section-inner {
			width: auto;
		}
	}
	.toolbar > .section-inner {
		display: flex;
		height: 100%;
		> .button-group-gap {
			flex: 1;
		}
		> .button-group {
			height: 100%;
			display: flex;
			flex: none;
			> .picker-button-label {
				font-size: 0.8rem;
				color: chroma.$light2;
				display: none;
			}
			> .picker-button {
				height: 100%;
				box-sizing: content-box;
				flex: none;
				display: inline-block;
				font-size: 0.8rem;
				margin: 0 0.25rem;
				padding: 0 0.25rem;
			}
		}
		> .button-group + .button-group {
			border-left: 1px solid chroma.$dark2;
		}
		.picker-button {
			@include picker-button-visual();
		}
	}
}
