@import "./chroma.scss";
.sample-code {
    &.literature {
        hyphens: auto;
        white-space: pre-wrap;
        text-align: justify;
        line-height: 1.5;
    }
    .token.dim {
        color: $dim1;
    }
    .token.keyword,
    .token.storage {
        color: $azure1;
    }
    .token.keyword-operator {
        color: $cyan1;
    }
    .token.punctuation,
    .token.comment,
    .token.meta-brace {
        color: $dim1;
    }
    .token.type,
    .token.support-type,
    .token.entity {
        color: $orange1;
    }
    .token.constant-numeric {
        color: $red1;
    }
    .token.string {
        color: $green1;
    }

    span.highlight {
        color: $accent1;
    }
}
