@use "chroma.scss";
.sample-code {
	&.literature {
		hyphens: auto;
		white-space: pre-wrap;
		text-align: left;
		line-height: 1.5;
	}
	.token.dim {
		color: chroma.$dim1;
	}
	.token.keyword,
	.token.storage {
		color: chroma.$azure1;
	}
	.token.keyword-operator {
		color: chroma.$cyan1;
	}
	.token.punctuation,
	.token.comment,
	.token.meta-brace {
		color: chroma.$dim1;
	}
	.token.type,
	.token.support-type,
	.token.entity {
		color: chroma.$orange1;
	}
	.token.constant-numeric {
		color: chroma.$red1;
	}
	.token.string {
		color: chroma.$green1;
	}

	span.highlight {
		color: chroma.$accent1;
	}
}
