@use "chroma.scss";

@mixin sampler-panel-body() {
	display: flex;
}

@mixin sampler-panel-left($w) {
	flex: none;
	width: $w;
	margin-right: calc(1rem - 1px);
	border-right: 1px solid chroma.$dark3;
}

@mixin sampler-panel-right() {
	flex: 1 1 1rem;
}
