@use "sass:color";
@use "chroma.scss";

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: chroma.$dark2;
}

::-webkit-scrollbar-thumb {
	background-color: color.change(chroma.$light1, $alpha: 0.25);
	border-radius: 20px;
	border: 3px solid chroma.$dark2;

	&:hover {
		background-color: color.change(chroma.$light1, $alpha: 0.375);
		border-width: 2px;
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: color.change(chroma.$light1, $alpha: 0.25) chroma.$dark2;
}
