@import "./chroma.scss";

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: $dark2;
}

::-webkit-scrollbar-thumb {
    background-color: change-color($light1, $alpha: 0.25);
    border-radius: 20px;
    border: 3px solid $dark2;

    &:hover {
        background-color: change-color($light1, $alpha: 0.375);
        border-width: 2px;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: change-color($light1, $alpha: 0.25) $dark2;
}
