@import "./chroma.scss";
@import "./font-cfg.scss";
@import "./metrics.scss";

section {
    border-bottom: 1px solid $dark3;
    position: relative;
    padding: $sectionPadding $sectionHPadding;
    &.with-toolbar {
        padding-top: $sectionPadding + $toolbarHeight;
    }
    .section-inner {
        width: $sectionWidth;
        margin: 0 auto;

        @media (max-width: 1200px) {
            width: auto;
        }
    }
    .section-toolbar {
        border-bottom: 1px solid $dark2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        height: $toolbarHeight;
        line-height: $toolbarHeight;
    }

    h2 {
        line-height: 1;
        font-size: 3.6rem;
        line-height: 1.375;
        font-weight: 200;
        font-stretch: expanded;
        margin: 0 0 4rem 0;
        color: $light2;
    }
    .section-introduction {
        display: flex;
        position: relative;
        align-items: stretch;
        margin: 0 0 3rem 0;
        > .header {
            flex: 4;
            margin: 0;
            padding-right: 4rem;
            @include AutoFontSize(36, 3.6rem);
            @include AutoFontSize(36, 3.2rem);
            @include AutoFontSize(36, 2.8rem);
            @include AutoFontSize(36, 2.4rem);
            @include AutoFontSize(36, 2rem);
            @include AutoFontSize(36, 1.6rem);
        }
        > .content {
            font-stretch: expanded;
            line-height: 1.75;
            flex: 6;
            font-weight: 300;
            position: relative;
            @include gradient-text-bg($accent1, $azure1);

            strong,
            em,
            cite {
                @include gradient-text-enable();
                font-weight: 400;
                font-style: normal;
                white-space: nowrap;
            }

            cite {
                font-style: italic;
            }

            code {
                font-weight: 600;
            }
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 1rem;
                bottom: 1rem;
                left: -2rem;
                border-right: 1px solid $dark2;
            }

            @media (max-width: sectionTotalWidthChars(32, 1rem)) {
                font-size: 0.75em;
            }
        }

        @media (max-width: $sectionTotalWidth) {
            display: block;
            > .header {
                padding-right: 0;
            }
            > .content:before {
                display: none;
            }
        }
    }
    &.secondary {
        .section-inner > h3 {
            font-weight: 300;
            font-size: 2.4rem;
            margin: 0 0 2rem;
            @include AutoFontSize(48, 2rem);
            @include AutoFontSize(48, 1.6rem);
        }
    }
}
