@import "./chroma.scss";

@mixin vert-switch-button() {
	border-right: 2px solid transparent;
	cursor: pointer;
	&.active {
		color: $light4;
		border-right-color: $cyan1;
		& > .tag {
			font-weight: 500;
		}
		& > .brief {
			font-weight: 700;
		}
	}
	&:hover {
		background-color: $dark2;
	}
}

@mixin block-switch-button() {
	cursor: pointer;
	> .tag,
	> .brief {
		display: block;
	}
	> span.tag {
		font-weight: 300;
		font-size: 1em;
		display: block;
	}
	> span.brief {
		font-size: 0.5em;
		font-stretch: expanded;
		display: block;
		opacity: 0.625;
	}
	&.active {
		color: $control-mark;
		& > span.tag {
			font-weight: 500;
		}
		& > span.brief {
			font-weight: 700;
		}
	}
	&:hover {
		@include control-hover();
	}
}
