@use "sass:color";
@use "chroma";
@use "font-cfg";

.tools-panels-t {
	display: flex;
	> .panel {
		border-top: 1px solid color.change(chroma.$light1, $alpha: 0.25);
		> h3 {
			font-size: 1rem;
			margin: 1rem 0 0.5rem 0;
			font-weight: 300;
		}
	}
	> .panel.tools {
		flex: none;
		width: 6rem;
		margin-left: 1rem;
		> .tool-button {
			@include font-cfg.fc-sans();
			position: relative;
			background: color.change(chroma.$light1, $alpha: 0.05);
			color: chroma.$light1;
			border: none;
			border-radius: 0;
			font-size: 0.75em;
			width: 6rem;
			height: 4rem;
			box-sizing: border-box;
			margin: 1rem 0;
			display: flex;
			align-items: flex-start;
			cursor: pointer;
			padding: 0.5em;
			text-align: left;
			&.disabled {
				opacity: 0.5;
				cursor: not-allowed;
			}
			&.checked {
				@include chroma.control-active();
			}
			&.unchecked:hover {
				@include chroma.control-hover();
			}
			&.external::after {
				display: block;
				opacity: 0.5;
				font-size: 0.75em;
				content: "🞢";
				font-weight: 200;
				position: absolute;
				right: 0.375em;
				top: 0.375em;
				padding: 0.2em 0.2em 0 0;
				line-height: 1;
				border-top: 1px solid chroma.$light1;
				border-right: 1px solid chroma.$light1;
			}
		}
	}
}
