
@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-Thin.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-ThinOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-ThinOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-ThinItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-ExtraLight.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-ExtraLightOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-ExtraLightOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-ExtraLightItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-Light.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-LightOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-LightOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-LightItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-Regular.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-Oblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-Oblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-Italic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-Medium.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-MediumOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-MediumOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-MediumItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-SemiBold.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-SemiBoldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-SemiBoldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-SemiBoldItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-Bold.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-BoldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-BoldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-BoldItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-ExtraBold.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-ExtraBoldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-ExtraBoldOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-ExtraBoldItalic.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-Heavy.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-HeavyOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-HeavyOblique.WOFF2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-HeavyItalic.WOFF2') format('woff2');
}
