@use "../shared/chroma.scss";
@use "../shared/switch-button.scss";
@use "../shared/sampler-panel.scss";
.code-sampler-body {
	@include sampler-panel.sampler-panel-body();
	> .picker {
		@include sampler-panel.sampler-panel-left(8rem);
		> .option {
			display: block;
			font-size: 0.8rem;
			line-height: 1.5rem;
			padding-right: 0.5rem;
			@include switch-button.vert-switch-button();
		}
	}
	> .picker-frame {
		@include sampler-panel.sampler-panel-right();
	}
}
