@import "../shared/chroma.scss";
@import "../shared/switch-button.scss";
@import "../shared/sampler-panel.scss";
.code-sampler-body {
    @include sampler-panel-body();
    > .picker {
        @include sampler-panel-left(8rem);
        > .option {
            display: block;
            font-size: 0.8rem;
            line-height: 1.5rem;
            padding-right: 0.5rem;
            @include vert-switch-button();
        }
    }
    > .picker-frame {
        @include sampler-panel-right();
    }
}
