@import "../shared/chroma.scss";
@import "../shared/metrics.scss";

$statDualColWidth: sectionTotalWidthChars(12, 4rem);
.stat-dashboard {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	margin: 0;
	@include gradient-text-bg($accent1, $azure1);
	> .stat {
		flex: 1 0 25%;
		padding: 0 2rem;
		margin-top: 1rem;
		margin-bottom: 1rem;

		@media (max-width: $statDualColWidth) {
			padding: 0 1rem;
		}
		.quantity {
			font-size: 4rem;
			font-weight: 200;
			@include gradient-text-enable();

			@media (max-width: $statDualColWidth) {
				font-size: 2rem;
			}
		}
		.desc {
			font-weight: 300;

			@media (max-width: $statDualColWidth) {
				font-size: 0.75rem;
			}
		}
	}
}
