@import "../shared/chroma.scss";
@import "../shared/metrics.scss";

.terminal-sampler {
	.sample-item h3 {
		font-weight: 500;
		font-stretch: 7;
		margin: 3rem 0 1rem;
		font-size: 1rem;
	}
	.sample-body {
		@include gradient-text-bg($accent1, $azure1);
		font-size: 3rem;
		margin: 0 0 3rem 0;

		@media (max-width: sectionTotalWidthChars(48, 2.4rem)) {
			font-size: 2.4rem;
		}

		@media (max-width: sectionTotalWidthChars(48, 2rem)) {
			font-size: 2rem;
		}

		@media (max-width: sectionTotalWidthChars(48, 1.6rem)) {
			font-size: 1.6rem;
		}

		em {
			font-style: normal;
			@include gradient-text-enable();
		}
	}
}
