@import "../shared/chroma.scss";
@import "../shared/metrics.scss";

.width-sampler {
	.sample-text {
		overflow: hidden;
		font-size: 0.8rem;
		line-height: 1.06rem;
		border: 1px solid $dark2;
		margin: 0;
		padding: 1em;
		position: relative;
		&:after {
			content: "";
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 2rem;
			background: linear-gradient(to left, $dark1, change-color($dark1, $alpha: 0));
		}
	}
	> .picker-frame > .toolbar.separate-toolbar {
		line-height: 2.5rem;
		height: 2.5rem;

		@media (max-width: sectionTotalWidthChars(36, 2.4rem)) {
			display: none;
		}
		.section-inner .button-group .picker-button {
			font-size: 1.25rem;
			font-weight: 300;
			&.active {
				font-weight: 600;
			}
		}
	}
}
