@use "sass:math";

@import "../shared/chroma.scss";
@import "../shared/metrics.scss";
@import "../shared/picker-frame.scss";

#character-specimen {
	min-width: $sectionWidth;
	padding-left: 4rem;
	padding-right: 4rem;

	.section-toolbar {
		position: fixed;
		background: $dark1;
		z-index: 10;
	}

	h1 {
		font-size: 2rem;
		font-weight: 200;
		font-stretch: expanded;
		margin: 0 0 1em 0;
	}

	#navigator-panel {
		position: fixed;
		right: calc(50vw - (0.5 * $sectionWidth + 0.25rem));
		top: 0;
		z-index: 20;

		> .button {
			line-height: 2rem;
			padding: 0 0.25rem;
			@include picker-button-visual();
		}
		> .navigation-dropdown {
			display: none;
			background: $dark2;
			position: absolute;
			right: 0;
			top: 2rem;
			padding: 0.25em;

			@include add-backdrop;

			> .blocks-panel {
				width: 26rem;
				columns: 2;
				font-size: 0.625rem;
				padding-top: 1.25em;
				> ol {
					margin: 0;
					padding: 0;
					list-style: none;
				}
				> ol > li {
					break-inside: avoid;
					padding: 0.25em;
					cursor: pointer;

					&.hovered {
						background: $dark4;
					}
				}
			}

			> .strips-panel {
				margin-left: 1em;
				padding-left: 0.5em;
				padding-right: 1px;
				padding-bottom: 1px;
				border-left: 1px solid $control-border;
				width: (24 * 0.625rem);
				max-height: 90vh;
				overflow-y: auto;

				> .row {
					display: flex;
					font-size: 0.625rem;
					font-weight: 500;
					font-stretch: expanded;

					> .start {
						width: 2em;
						padding: 0 0.75em 0 0;
						height: 1.25em;
						text-align: right;
					}
					> .columns {
						display: flex;
						flex: 1;
					}

					> .columns > .strip {
						@include fc-sans();
						flex: none;
						display: flex;
						height: 1.25em;

						&.filled {
							cursor: pointer;
							background: $dark3;
						}
						> span {
							position: relative;
							z-index: 2;
							display: block;
							flex: 1;
							text-align: center;
						}
						&.filled.hovered {
							position: relative;
							background: $dark4;
							outline: 1px solid $accent1;

							&::after {
								content: " ";
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								background: $dark4;
								z-index: 1;
							}
						}
						&.filled > span:hover {
							background: transparentize($color: $light1, $amount: 0.8);
						}
					}
				}
			}
		}
		&.dropdown-visible {
			> .button {
				background: $dark2;
				color: $light2;
				@include add-backdrop;
			}
			> .navigation-dropdown {
				display: flex;
			}
		}
	}

	.character-sample {
		cursor: cell;
		text-align: center;
		font-size: 2rem;
		height: 2em;
		line-height: 2em;
		z-index: 1;
		transition:
			background 0.2s,
			color 0.2s;
		white-space: nowrap;
		&.markings-hidden .background {
			visibility: hidden;
		}
		.background {
			display: inline-block;
			color: $azure1;
			width: 0;
			position: relative;
			user-select: none;
			&.mark-base:before {
				display: inline;
				content: "\25cc";
			}
			&.pre-letter:before {
				display: inline;
				content: "\EF0b";
			}
			&.under-letter:before {
				display: inline;
				content: "\EF0a";
			}
			&.post-letter:before {
				display: inline;
				content: "\EF0c";
			}
			&.pre-symbol:before {
				display: inline;
				content: "\EF06";
			}
			&.post-symbol:before {
				display: inline;
				content: "\EF07";
			}
			&.pre-mosaic:before {
				display: inline;
				content: "\EF08";
			}
			&.post-mosaic:before {
				display: inline;
				content: "\EF09";
			}
		}
		.character-sample-inner {
			position: relative;
			display: inline-block;
			z-index: 1;
			> .pre {
				position: relative;
				white-space: pre;
				z-index: 1;
			}
			> .background.under-letter {
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
		}
	}
	.specimen-block {
		> h3 {
			font-weight: 300;
			font-stretch: expanded;
		}
		> .anchors {
			position: absolute;
			margin-top: -8rem;
			z-index: -1;
			> div {
				height: 4rem;
				width: 1rem;
			}
		}
		> .specimen-block-body {
			display: flex;
			flex-wrap: wrap;
			.specimen-character {
				flex: 1 1 6.25%;
				width: 6.25%;
				position: relative;
				cursor: default;
				&.column-0:before {
					content: attr(data-unicode-label) "âµ";
					position: absolute;
					display: block;
					right: 100%;
					font-size: 0.75em;
					height: math.div(4em, 0.75);
					line-height: math.div(4em, 0.75);
					z-index: -1;
					font-stretch: expanded;
					opacity: 0.5;
				}
				&.not-in-font > .character-sample {
					opacity: 0.25;
				}
				&.unassigned > .character-sample {
					opacity: 0.1;
				}
				&:hover {
					.character-sample {
						@include control-hover();
					}
					.has-variant-marker {
						right: 2px;
						bottom: 2px;
						border-width: 3px;
					}
				}
				&.variant-menu-visible {
					@include control-active-no-hover();
					.character-sample {
						@include control-active();
						.background {
							color: mix($accent1, $dark1, 50%);
						}
					}
					.character-sample-variants {
						display: block;
					}
					.has-variant-marker {
						opacity: 1;
						border-right-color: $dark1;
						border-bottom-color: $dark1;
						right: 2px;
						bottom: 2px;
						border-width: 3px;
					}
				}
				.has-variant-marker {
					display: block;
					position: absolute;
					right: 0;
					bottom: 0;
					width: 0;
					height: 0;
					border: 5px solid $light1;
					border-left-color: transparent;
					border-top-color: transparent;
					opacity: 0.25;
					transition:
						border-width 0.2s,
						border-color 0.2s,
						right 0.2s,
						bottom 0.2s,
						opacity 0.2s;
				}
				.character-sample-variants {
					display: none;
					position: absolute;
					top: 100%;
					left: 0;
					background: $light1;
					z-index: 3;
					padding: 0.25rem;
					> .group {
						display: block;
						white-space: nowrap;
						> .group-name {
							font-size: 0.625em;
							font-weight: 600;
							background: transparentize($color: $dark1, $amount: 0.9);
							margin: 0.2em 0;
							padding: 0 0.2em;
						}
						&:first-child > .group-name {
							margin-top: 0;
						}
						> .subgroup {
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							> .character-sample {
								display: inline-block;
								font-size: 1.5rem;
								line-height: 2rem;
								height: 2rem;
								width: 2rem;
								&.current-selection {
									background: transparentize($color: $dark1, $amount: 0.85);
								}
							}
						}
					}
				}
			}
		}
	}
	.standouts {
		position: fixed;
		left: 1rem;
		right: 1rem;
		bottom: 0;
		height: 15rem;
		padding: 0rem 0.5rem;
		overflow: auto;
		z-index: 3;
		background: $dark1;
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid change-color($light1, $alpha: 0.25);
		border-left: 1px solid change-color($light1, $alpha: 0.25);
		border-right: 1px solid change-color($light1, $alpha: 0.25);
		box-shadow: 0 0 0.25em $dark1;
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
		> .standout {
			box-sizing: border-box;
			width: 15rem;
			height: 15rem;
			flex: none;
			position: relative;
			background: $dark1;
			> button.close {
				display: block;
				z-index: 1;
				font-size: 1rem;
				line-height: 1rem;
				height: 1.5rem;
				width: 1.5rem;
				position: absolute;
				top: 0.25rem;
				left: 0.25rem;
				text-align: center;
				border: none;
				background: $dark1;
				color: $light1;
				&:hover {
					@include control-hover();
				}
			}
			> h4 {
				font-size: 1rem;
				font-weight: normal;
				line-height: 1.5rem;
				margin: 0;
				padding-left: 1.75rem;
			}
		}
		> .standout > .character-sample {
			height: 15rem;
			font-size: 10rem;
			line-height: 15rem;
		}
		> .standout.outside-font > .character-sample {
			opacity: 0.25;
		}
	}
}
