
@font-face {
	font-family: 'Iosevka QP Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQpSlab-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQpSlab-Extendedregular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpSlab-regularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQpSlab-regularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpSlab-ExtendedregularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQpSlab-ExtendedregularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQpSlab-regularItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQpSlab-ExtendedregularItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQpSlab-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQpSlab-Extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpSlab-boldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQpSlab-boldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQpSlab-ExtendedboldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQpSlab-ExtendedboldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQpSlab-boldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka QP Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQpSlab-ExtendedboldItalic.woff2') format('woff2');
}
